#container {
    width: 400px;
    margin: 0 auto;
}

#image-container {
    display: block;
    text-align: center;
}

#login-button {
    background-color: #008ea9;
    color: white;
    padding: 15px;
    width: 100%;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    margin: 8px 0 0 0;
    border: 1px solid grey;
}

input:focus {
    outline-width: 0;
}

@media only screen and (max-height: 650px) {
    #image-container {
        display: none;
    }
}