html {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#content {
    width: 1000px;
    margin: 50px auto;
}

select {
    height: 45px;
    padding: 14px;
    margin: 8px 0 0 0;
}

Button {
    color: black;
    padding: 10px;
    margin: 3px;
    border: none;
    cursor: pointer;
    background-color: #bfbfbf;
    min-width: 75px;
    min-height: 35px;
}

Button:focus {
    outline-width: 0;
}

summary {
    outline: none;
}

textarea {
    width: 100%;
    height: 100px;
}

textarea:focus, select:focus, input:focus{
    outline: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #008ea9;
    color: white;
}

.width-100p {
    width: 100%;
}

.header {
    margin-bottom: 21px;
}

.header form {
    float: right;
}


.header h1 {
    display: inline;
}

.header details {
    float: right;
    border: 0px;
    margin-bottom: 10px;
}

.filter {
    width: 313px;
}

.sort {
    width: 160px;
}

.header input {
    height: 31px; /* 31px + 4px (border) = 35px; */
    margin: 0px;
    padding: 0px 4px 0px 4px;
}

.header select {
    margin: 0px;
    padding: 0px 10px 0px 10px;
    height: 35px;
}

.font18 {
    font-size: 18px;
}

.text-center {
    text-align: center;
}


.uppercase {
    text-transform: uppercase;
}

.button {
    background-color: #bfbfbf;
    border: none;
    color: black;
    padding: 10px 16px;
    margin: 0px 2px 0px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.m-t-10 {
    margin-top: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

.list {
    overflow: auto;
    max-height: calc(100vh - 350px);
    min-height: 150px;
}

.green {
    background-color: #4CAF50;
    color: white;
}

.red {
    background-color: #f44336;
    color: white;
}
